html, body {
  height: 100%;
  margin: 0;
  overflow-x: hidden; /* Prevent horizontal scroll */
  scroll-behavior: smooth;
}

.main-content {
  min-height: 100vh;
  overflow-y: auto;
  scroll-behavior: smooth;
  padding-bottom: 60px; /* Avoid overlapping with footer */
}

app-navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}
app-footer {
  background: #f8f9fa;
  text-align: center;
  margin-top: auto;
}